@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500,300);
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: -webkit-linear-gradient(#96d4f4, #4B6A7A) top left;
  background: linear-gradient(#FFFFF, #959aaf) top left;
  font-family: "Raleway",helvetica,sans-serif;
}

#container {
  width: 53em;
  margin: 4em auto;
}

.centred {
    line-height: 100%;
    font-size: 0.5em;
    top:50%;
    position:relative;
    -webkit-transform:translateY(-50%);
    margin:0
}

.centred strong {
    color: #F39C12;
}


.plan {
  width: 17em;
  height: auto;
  background: #f8f8f8;
  margin: .4em 0 .4em .4em;
  float: left;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
}
.plan header {
  height: 2.75em;
  width: 100%;
  display: block;
  background: #353535;
  text-align: center;
  float: left;
  color: white;
  
}
.plan header h2 {
  color: #dbe0e5;
  text-transform: uppercase;
  line-height: .2;
  font-weight: 500;
}
.plan header h2:before {
    font-size: 1.5em;
    content: "EVENT";
}
.plan header h2 span {
  text-transform: capitalize;
  display: inline-block;
  color: #96d4f4;
}
.plan header h2 span:after {
  content: "NAME";
}
.plan .offer {
  height: 4.39em;
  width: 100%;
  text-align: center;
  font-size: 1.89em;
  line-height: 2.4;
  float: left;
  text-transform: uppercase;
  font-weight: 600;
}
.plan.blue .offer p {
  text-shadow: 0 1px 0px #dd8c0b;
}
.plan.green .offer p {
  text-shadow: 0 1px 0px #3bac4a;
}
.plan.gold .offer p {
  text-shadow: 0 1px 0px #d72c1a;
}
.plan .list {
  width: 100%;
}
.plan .list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  float: left;
  height: auto;
  overflow: hidden;
  background: #ededed;
}
.plan .list ul li {
  width: 100%;
  display: block;
  height: auto;
  padding: 1.6em;
  text-align: center;
  box-shadow: inset 0 -0.15em 0 rgba(0, 0, 0, 0.1);
  color: #888792;
}
.plan .list ul li:first-child {
  box-shadow: inset 0 -0.15em 0 rgba(0, 0, 0, 0.1), inset 0 0.15em 0 rgba(0, 0, 0, 0.15);
}
.plan footer {
  display: block;
  float: left;
  height: 5.79097em;
  width: 100%;
  background: #fff;
  border-bottom: 0.58495em solid #353535;
  padding: 1em;
}
.plan footer .button {
  display: block;
  width: 5.26452em;
  margin: 0.12em auto;
  padding: 0.21935em;
  text-align: center;
  text-decoration: none;
  font-size: 1.85em;
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
}
.plan footer .button:after {
  content: "FIND FRIENDS";
}
.plan.blue {
  background: #f9cf8b;
}
.plan.blue p:before {
  color: #F39C12;
}
.plan.blue .list ul li:nth-child(1):before {
  content: "TICKET PRICE: ";
}
.plan.blue .list ul li:nth-child(2):before {
  content: "DATE: ";
}
.plan.blue .list ul li:nth-child(3):before {
  content: "CATEGORY: ";
}
.plan.green {
  background: #a4e0ac;
  color: #fff;
}
.plan.green p:before {
  color: #45BF55;
}
.plan.green .list ul li:nth-child(1):before {
  content: "TICKET PRICE: ";
}
.plan.green .list ul li:nth-child(2):before {
  content: "DATE: ";
}
.plan.green .list ul li:nth-child(3):before {
  content: "CATEGORY: ";
}
.plan.gold {
  background: #f5b2ab;
  color: #fff;
}
.plan.gold p:before {
  color: #E74C3C;
}
.plan.gold .list ul li:nth-child(1):before {
  content: "TICKET PRICE: ";
}
.plan.gold .list ul li:nth-child(2):before {
  content: "DATE: ";
}
.plan.gold .list ul li:nth-child(3):before {
  content: "CATEGORY: ";
}

.plan.blue .button {
  background: #F39C12;
}
.plan.blue .button:hover {
  background: #f5b043;
}

.plan.green .button {
  background: #45BF55;
}
.plan.green .button:hover {
  background: #6bcc78;
}

.plan.gold .button {
  background: #E74C3C;
}
.plan.gold .button:hover {
  background: #ed7669;
}

@media all and (max-width: 55em) {
  #container {
    width: 100%;
  }

  .plan {
    margin: auto 0;
    box-shadow: 0 0 0 !important;
    width: 33.33%;
    font-size: .9em !important;
  }
  .plan:nth-child(1) header, .plan:nth-child(3) header {
    height: 3.83871em !important;
  }
  .plan:nth-child(1) header h2, .plan:nth-child(3) header h2 {
    display: none;
  }
  .plan:nth-child(2) header {
    height: 3.83871em !important;
  }
  .plan:nth-child(2) header h2 {
    line-height: 1;
  }
}
@media all and (max-width: 43em) {
  #container {
    margin: 0;
  }

  .plan {
    font-size: 1em !important;
    margin: auto 0;
    box-shadow: 0 0 0 !important;
    width: 100%;
    border-bottom-size: .2em;
  }
  .plan:nth-child(2) header, .plan:nth-child(3) header {
    display: none;
  }
  .plan:nth-child(1) header {
    height: 3.83871em !important;
  }
  .plan:nth-child(1) header h2 {
    display: block;
    line-height: 1;
  }
  .plan footer .button {
    width: 92%;
    margin: .2em 4%;
  }
}

